<div id="page-content">
  <h1 class="text-center mt-4">Listing Articles</h1>

  <% @article.each do |article| %>
    <div class="card mx-auto mt-4 w-50" style="width: 18rem;">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title"><%= article.title %></h5>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text"><%= article.description %></p>
        </div>
        <div class="card-footer text-muted">
          <a href="#" class="card-link"><%= link_to 'Show', article %></td></a>
          <a href="#" class="card-link"><%= link_to 'Edit', edit_article_path(article) %></a>
          <a href="#"><%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %></a>
        </div>
      </div>
    </div>
  <% end %>



  <p>
    <%= link_to 'New Article', new_article_path%>
  </p>
</div>